

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: 0;
}

.slider_section .slick-slide,
.services_slider_section .slick-slide{
  padding: 0 10px;
  height: auto;
}
.slider_section .slick-slide > div,
.services_slider_section .slick-slide > div{
  height: 100%;
}
.slider_section .slick-track,
.services_slider_section .slick-track{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider_section .slick-arrow {
  top: -68px;
  width:50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 50px;
  left: auto;
  z-index: 1;
}
.slider_section .slick-arrow:before,
.services_slider_section .slick-arrow:before{
  display:none;
}
:where(.slider_section,.services_slider_section) .slick-arrow:hover img{
  filter: invert(0.5);
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-filter: invert(0.5);
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.slider_section .slick-prev{
  right: 14%;
}
.slider_section .slick-next{
  right: 0;
}
.slider_section .slick-list{
  padding:0;
  overflow: visible;
}
:where(.slider_section,.services_slider_section) .card_wrapper{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
} 
.serviceslider .card_wrapper{
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}
.services_slider_section .slick-arrow{
  top: unset;
  bottom: -10%;
  width: 40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.services_slider_section .slick-prev{
  left: 40%;
}
.services_slider_section .slick-next{
  left:60%;
  right: unset;
}

.serviceslider h2{
  border-left: 2px solid #000;
  padding: 0 0 0 40px;
}
.serviceslider .card_wrapper .card_icon{
  -webkit-box-ordinal-group:2;
      -ms-flex-order:1;
          order:1;
}
.serviceslider .card_wrapper .card_info{
  -webkit-box-ordinal-group:3;
      -ms-flex-order:2;
          order:2;
}
.paragraph{
  -webkit-transform: translate3d(0px, 20px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
          transform: translate3d(0px, 20px, 0px) scale3d(0.96, 0.96, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width:600px){
  .slider_section .slick-prev{
    right: 8%;
  }
  .services_slider_section .slick-arrow{
    bottom: -10%;
    -webkit-transform: unset;
        -ms-transform: unset;
            transform: unset;
  }
  .services_slider_section .slick-prev{
    left: 20px;
  }
  .services_slider_section .slick-next{
    left:80px;
  }
}

@media (min-width:991px){
  .slider_section .slick-prev{
    right: 6%;
  }
}

@media (min-width:1100px){
  .slider_section .slick-prev{
    right: 4%;
  }
}

@media (min-width:1400px){
  .services_slider_section .slick-arrow{
    bottom: 17.5%;
  }
  .services_slider_section .slick-prev{
    left: -440px;
  }
  .services_slider_section .slick-next{
    left:-380px;
  }
}

@media (min-width:1800px){
  .services_slider_section .slick-arrow{
    bottom:16%;
  }
}



@layer base {
  html {
    scroll-behavior: smooth;
  }

  .max-width {
    @apply max-w-[1440px] mx-auto;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  .tabactive::after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent transparent #00C8FB;
  }
  
  .sticky_header{
    position: sticky;
    top:0 !important;
  }

  @media (max-width:960px){
    .tabactive::after{
      display: none;
    }
  }

  @media (max-width:767px){
    .hero_slider button{
      display:none;
    }
  }

}