@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  outline: 0;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .max-width {
    @apply max-w-[1440px] mx-auto;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    width: 10px;
    border-radius: 10px;
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: gray;
  }
  .tabactive::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    border-width: 10px;
    border-style: solid;
    border-color: transparent  transparent transparent #00C8FB;
  }
  
  .inactive{
    right: -200%;
    transition: all 0.4s ease-in-out;
  }
  .sticky_header{
    position: sticky;
    top:0 !important;
  }

  @media (max-width:960px){
    .tabactive::after{
      display: none;
    }
  }

  @media (max-width:767px){
    .hero_slider button{
      display:none;
    }
  }

}
